<div class="about">
	<div class="container">
		<h1>Blog<span class="m_1"><br>Page</span></h1>
	</div>
</div>
<div class="about_grid">
	<div class="container">
		<h4 class="tz-title-4 tzcolor-blue">
			<p class="tzweight_Bold"><span class="m_1">Our<br></span>Blog</p>
		</h4>
		<div class="blog">
			<div class="blog_top">
				<a href="single.html"><img src="src/assets/images/b1.jpg" class="img-responsive" alt="" /></a>
				<h3><a href="single.html">Blog Heading Here</a></h3>
				<h4>Posted By : <a href="single.html">Ipsum</a> | Date : 03-03-2015</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
					dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book.
					It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
					by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
					of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
					generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on
					the Internet. It uses a dictionary of over 200 Latin words, </p>
				<a class="faq_but1" href="single.html">Read More</a>
				<div class="links">
					<ul class="blog_links">
						<li><a href="#"><i class="blog_circle">24 </i><span>Comments</span></a></li>
						<li><a href="#"><i class="blog_icon1"> </i><span>Like</span></a></li>
					</ul>
					<ul class="blog_social">
						<li class="share"><i class="blog_icon2"> </i>
							<p class="share_text">Share : </p>
						</li>
						<li>
							<a href="#"> <i class="fb2"> </i> </a>
						</li>
						<li>
							<a href="#"> <i class="tw2"> </i> </a>
						</li>
						<li>
							<a href="#"> <i class="linked"> </i></a>
						</li>
						<li>
							<a href="#"> <i class="g2"> </i></a>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="blog_top">
				<a href="single.html"><img src="src/assets/images/b3.jpg" class="img-responsive" alt="" /></a>
				<h3><a href="single.html">Blog Heading Here</a></h3>
				<h4>Posted By : <a href="single.html">Ipsum</a> | Date : 03-03-2015</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
					dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book.
					It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
					by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
					of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
					generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on
					the Internet. It uses a dictionary of over 200 Latin words, </p>
				<a class="faq_but1" href="single.html">Read More</a>
				<div class="links">
					<ul class="blog_links">
						<li><a href="#"><i class="blog_circle">24 </i><span>Comments</span></a></li>
						<li><a href="#"><i class="blog_icon1"> </i><span>Like</span></a></li>
					</ul>
					<ul class="blog_social">
						<li class="share"><i class="blog_icon2"> </i>
							<p class="share_text">Share : </p>
						</li>
						<li>
							<a href="#"> <i class="fb2"> </i> </a>
						</li>
						<li>
							<a href="#"> <i class="tw2"> </i> </a>
						</li>
						<li>
							<a href="#"> <i class="linked"> </i></a>
						</li>
						<li>
							<a href="#"> <i class="g2"> </i></a>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="blog_top">
				<a href="single.html"><img src="src/assets/images/b2.jpg" class="img-responsive" alt="" /></a>
				<h3><a href="single.html">Blog Heading Here</a></h3>
				<h4>Posted By : <a href="single.html">Ipsum</a> | Date : 03-03-2015</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
					dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book.
					It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
					by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
					of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
					generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on
					the Internet. It uses a dictionary of over 200 Latin words, </p>
				<a class="faq_but1" href="single.html">Read More</a>
				<div class="links">
					<ul class="blog_links">
						<li><a href="#"><i class="blog_circle">24 </i><span>Comments</span></a></li>
						<li><a href="#"><i class="blog_icon1"> </i><span>Like</span></a></li>
					</ul>
					<ul class="blog_social">
						<li class="share"><i class="blog_icon2"> </i>
							<p class="share_text">Share : </p>
						</li>
						<li>
							<a href="#"> <i class="fb2"> </i> </a>
						</li>
						<li>
							<a href="#"> <i class="tw2"> </i> </a>
						</li>
						<li>
							<a href="#"> <i class="linked"> </i></a>
						</li>
						<li>
							<a href="#"> <i class="g2"> </i></a>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
			<ul class="dc_pagination dc_paginationA dc_paginationA06">
				<li><a href="#" class="current">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">13</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="domain">
	<div class="container">
		<form class="search-form domain-search">
			<div class="two-fifth signup column first">
				<img src="src/assets/images/msg.png" alt="" />
				<h2><span class="m_1">Sign Up Your</span><br>Newsletter</h2>
			</div>
			<div class="three-fifth searchbar column first">
				<input type="text" class="text" value="Enter your domain name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your domain name';}">
			</div>
			<div class="one-fifth col_2 ">
				<input type="submit" value="Sign Up Now">
			</div>
			<div class="clearfix"> </div>
		</form>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="col-md-3 box_1">
			<img src="src/assets/images/f_logo.png" alt="" />
			<p>© 2015 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
		</div>
		<div class="col-md-3 box_2">
			<h4>Quick Links</h4>
			<ul class="list_2">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Hosting Plans</a></li>
				<li><a href="#">Domains</a></li>
			</ul>
			<ul class="list_2">
				<li><a href="#">Faq</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-3 box_2">
			<h4>Contact Us</h4>
			<address class="address">
				<dl>
					<dt></dt>
					<dd>Address : <span>3598 But I must explain to you how all this mistaken</span></dd>
					<dd>E-mail : <a href="mailto@example.com">info(at)hosting.com</a></dd>
					<dd>Call : <span> +1 800 547 5478</span></dd>
				</dl>
			</address>
		</div>
		<div class="col-md-3 box_2">
			<h4>Social Media</h4>
			<ul class="footer_social">
				<li>
					<a href=""> <i class="fb"> </i> </a>
				</li>
				<li><a href=""><i class="tw"> </i> </a></li>
				<li><a href=""><i class="linkedin"> </i> </a></li>
				<li><a href=""><i class="google"> </i> </a></li>
			</ul>
		</div>
	</div>
</div>